{
  "CurrencyCalc": {
    "enabled": true,
    "allowMultipleInstances": true
  },
  "RealEstateCalc": {
    "enabled": true,
    "allowMultipleInstances": true
  },
  "StockCalc": {
    "enabled": true,
    "allowMultipleInstances": true
  }
}
